Title: Articles

%h1 Articles
- posts = Nesta::Page.find_articles.paginate(:page => params[:page] ? params[:page] : 1, :per_page => 6)
= foundation_pager(will_paginate(posts, :inner_window => 2))
- posts.each do |post|
  %article
    %div
      %h3
        %a(href="#{url(post.path)}")= post.heading
        = post.summary
        %a(href="#{url(post.path)}")= post.read_more
  %hr
= foundation_pager(will_paginate(posts, :inner_window => 2))