<!DOCTYPE html>
%html(lang="en")
  %head
    /bing webmaster tools id
    %meta{:name => 'msvalidate.01', :content => '7FFB6B64789E4F2D2960FE644B7AF965' }
    %meta(charset="utf-8")
    - if @description
      %meta(name="description" content=@description)
    - if @keywords
      %meta(name="keywords" content=@keywords)
    %title= @title
    <!--[if ! lte IE 6]><!-->
    %link(href="#{url('/css/master.css')}" media="screen" rel="stylesheet")
    / %link(href="#{url('/foundationized/css/foundation.css')}" media="screen" rel="stylesheet")
    / %link(href="#{url('/foundationized/css/normalize.css')}" media="screen" rel="stylesheet")
    %link(href="/css/uv_themes/eiffel.css" media="screen" rel="stylesheet")
    %script{:src => "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"}
    %script{:src => "/foundationized/js/vendor/custom.modernizr.js"}
    %script{:src => "/foundationized/js/foundation.min.js"}
    %link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine")
    <!--<![endif]-->
    /[if lte IE 6]
      %link(rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection")
    /[if lt IE 9]
      %script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    - local_stylesheet_link_tag('local')
    %link(href="#{url('/articles.xml')}" rel="alternate" type="application/atom+xml")
  %body
    = haml :tagmanager, :layout => false
    .row
      = haml :header, :layout => false
    .row
      = yield
    .row
      = haml :footer, :layout => false
    :plain
      <script>
        document.write('<script src=/foundationized/js/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js><\/script>');
      </script>
      <script>
        $(document).foundation();
      </script>