#content.large-8.columns
  %article(role="main")
    ~ @page.to_html(self)
    - unless @page.pages.empty?
      %section.pages
        %hr
        %h1= pages_heading
        = article_summaries(@page.pages)
    - unless @page.articles.empty?
      %section.articles
        %header
          %h1= articles_heading
        = article_summaries(@page.articles)
    = haml :page_meta, :layout => false, :locals => { :page => @page }
    - unless @page.metadata('updates') == ''
      %section.panel.callout.radius
        %h5 Updates
        - @page.updates.each do |k,v|
          %div
            %span
              = v["date"]
            %span
              &mdash;
            %span
              = v["desc"]

  = haml :comments, :layout => false
#content.large-4.columns
  = haml :sidebar, :layout => false