#content.large-8.columns
  - if @page.title == "Home"
    = article_summaries(latest_articles)
    ~ @page.to_html(self)
  - else
    %article(role="main")
      = haml :page_meta, :layout => false, :locals => { :page => @page }
      %h3
        = @page.to_html(self)
      
      / = @page.body(self)

      %section.pages
        = article_summaries(@page.pages)

  - unless @page.articles.empty?
    %section.articles
      %header
        %h1= articles_heading
      = article_summaries(@page.articles)

  
  = haml :comments, :layout => false

%aside.large-3.columns
  = haml :sidebar, :layout => false